<!-- head is started here -->
<%- include('../common/_header.ejs') %>
    <title>Update info</title>
    <link rel="stylesheet" href="/css/update.css">
    </head>

    <body>
        <%- include('../common/_navBar.ejs') %>
            <div class="container contentBody">
                <h1 class="text-center">Update your information</h1>
                <div class="updateBody d-flex">
                    <form id="profilePictureUpdate" class="w-50" action="#" enctype="multipart/form-data">
                        <div class="profilePicture text-center">
                            <img class="rounded-image" id="currentPicture" src="/uploads/<%= user.profile_picture %>"
                                alt="No image found">
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="image">Profile Picture: </label>
                            <input class="w-50 form-control" type="file" name="image" id="image">
                        </div>
                        <button class="btn btn-primary" type="submit"
                            onclick="return changeProfilePicture(this.form);">Upload</button>
                    </form>
                    <form enctype="multipart/form-data" class="w-50 m-auto" id="updateProfile" action="#" method="POST">

                        <input type="text" name="id" value="<%=user.id %>" hidden>
                        <div class="formOption">
                            <label class="form-label" for="userName">User Name: </label>
                            <input class="form-control" type="text" name="userName" id="userName"
                                value="<%=user.username %>" required>
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="fullName">First Name: </label>
                            <input class="form-control" type="text" name="fullName" id="fullName"
                                value="<%=user.full_name %>" required>
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="hometown">Hometown: </label>
                            <input class="form-control" type="text" name="hometown" id="hometown"
                                value="<%=user.hometown %>">
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="country">Country: </label>
                            <input class="form-control" type="text" name="country" id="country"
                                value="<%=user.country %>">
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="hobby">Hobby: </label>
                            <input class="form-control" type="text" name="hobby" id="hobby" value="<%=user.hobby %>">
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="birthdate">Birthdate: </label>
                            <input class="form-control" type="date" name="birthdate" id="birthdate"
                                value="<%= user.birthdate %>">
                        </div>
                        <div class="formOption">
                            <label class="form-label" for="phone">Personal Bkash account Number: </label>
                            <input class="form-control" type="tel" name="phone" id="phone"
                                value="<%=user.phone_number %>">
                        </div>
                        <script>
                            // document.getElementById('birthdate').value = Date.now();
                        </script>
                        <button class="btn btn-primary" type="submit"
                            onclick="return updateProfile(this.form);">Update</button>
                    </form>
                </div>
            </div>

            <%- include('../common/_footer.ejs') %>
                <script src="/js/updateProfile.js"></script>
    </body>

    </html>